# Node.js
node_modules/

# npm
npm-debug.log
package-lock.json

# Yarn
yarn-debug.log
yarn-error.log

# Mixed
.idea/
.DS_Store

# Environment
.env.development
.env.production

# Coverage
coverage/

# Production
dist/

# webpack.js
stats.html
